.navbar_content{
    display:flex;
    justify-content :space-between;
}

.navbar{
    position: fixed;
    top:0;
    width: 100%;
    height:90px;
    z-index: 1;

    /* Animations to the navbar */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.navbar_black{
    background-color: black;
}

.navbar_logo{
    position: fixed;
    left:10px;
    top: 10px;
    height: 100px;
    width: 150px;
    cursor: pointer;
}

.navbar_logo_transparent{
    position: fixed;
    left:10px;
    top: 0;
    height: 100px;
    width: 150px;
    cursor: pointer;
}

.navbar_avatar{
    position: fixed;
    top  : 10px;
    right: 20px;
    height: 70px;
    width : 70px;
    cursor: pointer;
}